<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control mb-3' %>
  </div>

  <div class="field">
    <%= form.label :money, class: 'form-label' %>
    <%= form.text_field :money, class: 'form-control mb-3' %>
  </div>

  <div class="field">
    <%= form.label :start_at, class: 'form-label' %>
    <%= form.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.datetime_select :end_at %>
  </div>

  <div class="field">
    <%= form.label :currency, class: 'form-label' %>
    <select name="product[currency]" class="form-control form-select mb-3">
      <option value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :tag_list, class: 'form-label' %>
    <select name="product[tag_list][]" multiple= 'true' class="form-control form-select mb-3">
      <option value="tag1">tag1</option>
      <option value="tag2">tag2</option>
      <option value="tag3">tag3</option>
    </select>
  </div>
  <div class="actions mb-3">
    <%= form.submit %>
  </div>
<% end %>
